<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <title>Hello World!</title>
</head>
<body>
<div class="col-md-12">
    Bem vindo ao portal, <td th:text="${loggedUser.firstName}">nome</td>!
    <p><a href="/logout">Logout</a></p>
    <h4>Dogs Available for Adoption</h4>

    <div class="table-responsive">

        <table id="mytable" class="table table-bordred table-striped">

            <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Adopt</th>
            </thead>

            <tbody>

            <tr th:each="dog : ${dogs}">
                <td th:text="${{dog.name}}" class="dogName">name</td>
                <td th:text="${{dog.age}}" class="dogAge">age</td>
                <input th:value="${{dog.id}}" class="dogId" type="hidden">

                <td><p title="Adopt"><button class="btn btn-danger btn-xs" data-title="Adopt" data-toggle="modal" data-target="#adopt"><span class="glyphicon glyphicon-heart"></span></button></p></td>
            </tr>

            </tbody>

        </table>

    </div>

    <p title="Filter by Age"><button class="btn btn-danger btn-xs" data-title="Filter" data-toggle="modal" data-target="#filter"><span class="glyphicon glyphicon-search"></span></button></p>

    <div class="modal fade" id="adopt" tabindex="-1" role="dialog" aria-labelledby="adopt" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Adopt this dog</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control dogId" type="hidden">
                    <div class="alert alert-info">
                        Are you sure you want to Adopt this Dog?
                        <p>An email will be sent to you with the directions!</p>
                    </div>
                </div>
                <div class="modal-footer ">
                    <input class="form-control" type="hidden" id="dogId">
                    <button type="button" class="btn btn-success" id="adoptDog" ><span class="glyphicon glyphicon-heart"></span> Adopt!</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="filter" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align">Filter Dogs by Age</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="ageFrom"> TO
                    <input class="form-control" id="ageTo">
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success" id="doFilter" ><span class="glyphicon glyphicon-search"></span> Filter</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
</body>
<script th:src="@{/js/dogsAdoption.js}"></script>
</html>