<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <title>Homepage</title>
</head>
<body>
BEM VINDO AO PORTAL <td th:text="${loggedUser.firstName}">2</td>
<a href="/logout">Logout</a>
<a class="btn btn-warning btn-lg" href="/dogsForAdoption" >Dogs Available for Adoption</a>
</body>
</html>